@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
    height: 100%;
    width: 100%;
    background-color: #f5e7a8;
    color: #000033;
    border-color: #000033;
    font-family: 'Josefin Sans';
}
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.bottom {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    margin: 1em;
}

.recipe {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    margin-left: 1em;
}

.divider {
    height: 0.2em;
    background-color: black;
    margin: 0.5em;
}

.ingredient {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0.3em;
}

.ingredient-magnitude {
    white-space: nowrap;
    text-align: left;
    padding-right: 0.2em;
}

.ingredient-name {
    text-align: right;
    flex-shrink: 0;
    /*white-space: nowrap;*/
}

.spacer {
    overflow: hidden;
    flex-grow: 10;
    flex-shrink: 10;
    white-space: nowrap
}

.graph-div {
    display: flex;
    align-items: stretch;
}

.graph-svg {
    flex-grow: 10;
}

.step {
    text-align: right;
    padding: 0.5em;
}

.recipe-steps {
    background-color: #fffcea;
    border: 4px solid black;
    border-radius: 10px;
}

h1 {
    justify-content: center;
    font-size: 3.75em;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

h2 {
    justify-content: center;
    font-size: 1.5em;
    margin: 0.2em;
}

.path {
    position: relative;
}

.node {
    width: 15px;
    height: 15px;
    position: relative;
}

.node-label {
    z-index: 10;
}

.search-bar {
    flex-grow: 1;
    height: 100%;
    border: 0em;
    margin: 0.75em;
    background-color: transparent;
    justify-content: center;
}

.search-submit {
    font-family: 'Material Icons';
    border: 0em;
    margin: 0.75em;
    padding: 0em;
    height: 100%;
    width: 2em;
    background-color: transparent;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2.2em;
    width: 30em;
    padding: 0em;
    margin: 1em;
    border: 4px solid;
    border-radius: 25px;
    background-color: #fffcea;
}

.footer {
    display: flex;
    height: 5em;
    width: 100%;
    background-color: #efd976;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    margin-top: auto;
}

.footer-item {
    margin: 2em;
}

a {
    text-decoration: none;
    color: white;
}

.ingredients-bar {
    display: flex;
    margin-right: auto;
    margin-left: 1em;
    flex-direction: column;
    min-width: 150px;
}

